* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: blue;
}

header {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    min-height: 80px;
    background-color: darkblue;
}

.icon {
    margin-top: 2em;
}

#wrapper {
    text-align: center;
}

nav {
    padding-top: 1em;
}

li {
    display: inline-block;
    padding-right: 2em;
}

.name {
    float: left;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: 400;
    padding-left: 4em;
    padding-top: 1em;
    color: white;
}

li a {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    padding: 0.4em;
    color: white;
}

li a:hover {
    background-color: navy;
}

h3 {
    color: white;
}

nav ul {
    padding-right: 10%;
}


#checkbox {
    padding-top: 20px;
    color: white;
}

footer {
    text-align: center;
    font-style: italic;
    background-color: darkblue;
    clear: both;
    color: white;
}

#hi {
    float: left;
    color: white;
    padding-left: 13%;
    padding-top: 10%;
    padding-right: 1em;
    margin-bottom: 10em;
}
.resume {
    color: white;
}

.repo {
    color: white;
}


.presume {
    margin-top: 50px;
}

.image {
    float: right;
    margin-left: 2em;
}

#image {
    margin-top: 2em;
    margin-right: 2em;
}

.about {
    margin-top: 1em;
    font-size: 1.5em;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.25em;
    line-height: 1;
    font-weight: 400;
    margin-top: 40px;
}

.education {
    margin-right: 15em;
}


table {
    margin-left: auto;
    margin-right: 30em;
    margin-top: 2em;
    border: 4px solid white;
    width: 45%;
    font-size: 20px;
    font-family: arial, sans-serif;
    background-color: darkblue;
    border-collapse: collapse;
    line-height: 150%;

}

#table {
    margin-left: auto;
    margin-right: 30em;
    margin-top: 40px;
    border: 4px solid white;
    font-size: 20px;
    font-family: arial, sans-serif;
    background-color: darkblue;
    border-collapse: collapse;
    margin-bottom: 5em;
    line-height: 150%;
}

th,
td {
    border: 1px solid white;
    text-align: center;
    color: white;
}

#about {
    color: white;
}



form {
    color: white;
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
    width: 30%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #01241b;
    border-radius: 5px;

}

input[type=submit] {
    background-color: #028c6a;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 15%;
}

input[type=submit]:hover {
    background-color: #043f25;
    cursor: pointer;
}

input[type=radio] {
    margin: 10px;
}

input[type=text]:link {
    border: 1px solid black;
}

#button{
    width: 15%;
    background-color: dodgerblue;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#button:hover{
    background-color: navy;
    cursor: pointer;
}
